<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.HotelBookingSystem">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.UsersList"></activity>
        <activity android:name=".View.SearchUser" />
        <activity android:name=".View.SearchforRooms" />
        <activity android:name=".View.ViewRoomDetails" />
        <activity android:name=".View.UpdateUserSpecificReservation" />
        <activity android:name=".View.UserSpecificReservation" />
        <activity android:name=".View.SummaryView" />
        <activity android:name=".View.ViewRoomsList" />
        <activity android:name=".View.RoomSearch" />
        <activity
            android:name=".View.UpdateMyReservations"
            tools:ignore="MissingClass" />
        <activity android:name=".View.ViewMyReservations" />
        <activity android:name=".View.UpdateProfile" />
        <activity android:name=".View.ViewProfile" />
        <activity android:name=".View.SpecificReservationView" />
        <activity android:name=".View.Registration" />
        <activity android:name=".View.ReservationListManager" />
        <activity android:name=".View.AdminHomeActivity" />
        <activity android:name=".View.ManagerHomeActivity" />
        <activity android:name=".View.UserHomeActivity" />
        <activity android:name=".View.ReservationRoom" />
        <activity android:name=".View.FinalPayment" />
        <activity android:name=".View.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>